.bg-header {
    margin-left: 5px;
    margin-right: 5px;
}

.bg-header-button {
    margin-top: 10px;
}

.large-button {
    margin-top: 10px;
}

.small-button {
    margin-bottom: 10px;
}

.rt-bt {
    margin-right: 10px;
}

.rt-btns {
    margin-left: 10px;
}

.rtt-button {
    margin-right: 10px;
}