.model-button {
    margin-left: 5px;
    margin-right: 5px;
}

.model-bg-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.model-size-button {
    margin-left: 10px;
    margin-right: 10px;
}